.line {
    stroke: #4DDB94;
    fill: transparent;
    stroke-width: 3px;
}
.valueLabel {
    text-anchor: start;
    font: 24px Verdana;
    fill: #369968;
}
.y.axis path {
    display: none;
}
.axis {
    font: 20px Verdana;
    fill: #444444;
}
.axis path,
.axis line {
    fill: none;
    stroke: #999999;
    shape-rendering: crispEdges;
}
.symbol {
    fill: #4DDB94;
    stroke: #3a9668;
    stroke-width: 3px;
}
