.land {
  fill: #ccc;
  pointer-events: none;
}

.county-boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
  pointer-events: none;
}

.state-boundary {
  fill: none;
  stroke: #fff;
  pointer-events: none;
}

.voronoi-container path {
  fill: none;
  pointer-events: all;
  stroke: rgb(197, 105, 27);
}

.point-continer circle {
  fill: black;
  pointer-events: none;
}

text {
  font: 14px sans-serif;
  text-anchor: middle;
  pointer-events: none;
}
